.home-page {
    text-align: center;
  }
  
  .movie-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
